/* ---shared style--- */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.works-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    max-width: 1440px;
}

* {
    margin: 0;
}

.display-flex {
    display: flex;

}

/* ---font-size & color-- */
.dark-01 {
    color: #131313;
}

.dark-02 {
    color: #424242;

}

.dark-03 {
    color: #727272;

}

.primary-btn {
    color: #fff;
    background-color: #FF900E;
    padding: 15px 20px;
    border: 2px solid #FF900E;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 600;
    transition: linear 0.3s;
}

.primary-btn:hover {
    background-color: rgba(255, 143, 14, 0.025);
    color: #FF900E;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 20px 70px;

}

/* --navbar-- */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.g3-title {
    font-size: 3rem;
}

.menu {
    gap: 40px;

}

.menu-item {
    list-style: none;
    font-size: 1.125rem;
    padding: 0;
    /* margin-left: 40px; */
    font-weight: 500;
}

.link {
    text-decoration: none;
}

/* ---banner-- */
.banner {}

.banner-main {
    margin: 100px 0 30px 0;
    text-align: center;

}

.banner-content {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;


}

.regular {
    margin-bottom: 30px;
    font-size: 1rem;

}

.banner-img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 30px;
}

/* ---main--- */


.features-section {
    padding: 80px 150px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.ft-img {
    height: 250px;
    width: 250px;
    border-radius: 8px;
}

.features-content h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.features-span {
    color: #FF900E;
}

/* ----experience-section-- */

.experience-main {
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 20px 70px;

}

.complex {
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}

.experience-span-div {
    height: 110px;
    width: 5px;
    background-color: #FF900E;
    border-radius: 5px;
}

.experience-heading {
    font-size: 3rem;

}

.experience-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.exp-topic {
    padding: 10px 30px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.413);
    border-radius: 8px;


}

.exp-heading {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;

}

.experience-img {
    width: 600px;
    height: 900px;
    /* height: 100%; */
}

.exp-10yrs {
    position: relative;
    bottom: 70px;
    left: -30px;
    padding: 50px 50px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;


}



.exp-10yrs span {
    font-size: 2.5em;
}

/* ---some-facts-section-- */

.some-facts-main {
    padding: 30px 100px;

}

.some-facts-content {
    font-size: 3rem;
    margin-bottom: 20px;

}

.facts-layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 70px;


}

.common {
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    padding: 20px;


}

.common h2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 5px 0;
}

/* ---sponsor-- */

.partner {
    padding: 30px 100px;
    text-align: center;

}

.partner-heading {
    font-size: 3rem;
    margin-bottom: 20px;

}

.partner-img {
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;

}

/* --footer-- */
footer {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(255, 144, 14, 0.1);

}